.input .input__label.checkbox--label {
    vertical-align: top;
    width: 90%;
    display: inline-blocK;

    a,
    a:visited,
    a:hover,
    a:focus {
        color: #f9b000;
    }
}

.input--checkbox {
    vertical-align: top;
    margin-top: 2px;
}
