// headings
h1,
.display-h1 {
  font-weight: normal;
  font-family: $font-family-h1;
  margin-top: 0;
  margin-bottom: #{$margin-bottom-md-h1}px;
  color: $color-font;

  @include font-size($font-size-md-h1, $line-height-md-h1);

  @include mq('sm') {
    @include font-size($font-size-sm-h1, $line-height-sm-h1);
    margin-bottom: #{$margin-bottom-sm-h1}px;
  }

  @include mq('xs') {
    @include font-size($font-size-xs-h1, $line-height-xs-h1);
    margin-bottom: #{$margin-bottom-xs-h1}px;
  }

}

h2,
.display-h2 {
  font-weight: bold;
  font-family: $font-family-h2;
  margin-top: 0;
  margin-bottom: #{$margin-bottom-md-h2}px;
  color: $color-font;

  @include font-size($font-size-md-h2, $line-height-md-h2);

  @include mq('sm') {
    @include font-size($font-size-sm-h2, $line-height-sm-h2);
    margin-bottom: #{$margin-bottom-sm-h2}px;
  }

  @include mq('xs') {
    @include font-size($font-size-xs-h2, $line-height-xs-h2);
    margin-bottom: #{$margin-bottom-xs-h2}px;
  }
}

h3,
.display-h3 {
  font-weight: normal;
  font-family: $font-family-h3;
  margin-top: 0;
  margin-bottom: #{$margin-bottom-md-h3}px;
  color: $color-font;

  @include font-size($font-size-md-h3, $line-height-md-h3);

  @include mq('sm') {
    @include font-size($font-size-sm-h3, $line-height-sm-h3);
    margin-bottom: #{$margin-bottom-sm-h3}px;
  }

  @include mq('xs') {
    @include font-size($font-size-xs-h3, $line-height-xs-h3);
    margin-bottom: #{$margin-bottom-xs-h3}px;
  }
}

h4,
.display-h4 {
  font-weight: normal;
  font-family: $font-family-h4;
  margin-top: 0;
  margin-bottom: #{$margin-bottom-md-h4}px;

  @include font-size($font-size-md-h4, $line-height-md-h4);

  @include mq('sm') {
    @include font-size($font-size-sm-h4, $line-height-sm-h4);
    margin-bottom: #{$margin-bottom-sm-h4}px;
  }

  @include mq('xs') {
    @include font-size($font-size-xs-h4, $line-height-xs-h4);
    margin-bottom: #{$margin-bottom-xs-h4}px;
  }
}

h5,
.display-h5,
h6,
.display-h6 {
  font-weight: normal;
  font-family: $font-family-h5;
  margin-top: 0;
  margin-bottom: #{$margin-bottom-md-h5}px;

  @include font-size($font-size-md-h5, $line-height-md-h5);

  @include mq('sm') {
    @include font-size($font-size-sm-h5, $line-height-sm-h5);
    margin-bottom: #{$margin-bottom-sm-h5}px;
  }

  @include mq('xs') {
    @include font-size($font-size-xs-h5, $line-height-xs-h5);
    margin-bottom: #{$margin-bottom-xs-h5}px;
  }
}

// Richtext

.richtext {

  @include copytext();

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  blockquote {
    font-style: italic;
  }

  p + h1,
  p + h2,
  p + h3 {
    margin-top: 10px;
  }

  ul,
  ol {
    padding-left: 1.2em;
    li {
      margin-bottom: .3em;
    }
  }
}
